DEMO Data collection

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
base_url = 'https://www.airlinequality.com/airline-reviews/british-airways'
pages=10
page_size=100

reviews=[]

for i in range(1,pages+1):
    print(f"Scraping page {i}")
    url = f"{base_url}/page/{i}?sortby=post_date%3ADesc&pagesize={page_size}"
    response = requests.get(url)
    content=response.content
    parsed_content = BeautifulSoup(content,'html.parser')
    
    for para in parsed_content.find_all("div",{"class":"text_content"}):
        reviews.append(para.get_text())
    
    print(f" --> {len(reviews)} total reviews")

Scraping page 1
 --> 100 total reviews
Scraping page 2
 --> 200 total reviews
Scraping page 3
 --> 300 total reviews
Scraping page 4
 --> 400 total reviews
Scraping page 5
 --> 500 total reviews
Scraping page 6
 --> 600 total reviews
Scraping page 7
 --> 700 total reviews
Scraping page 8
 --> 800 total reviews
Scraping page 9
 --> 900 total reviews
Scraping page 10
 --> 1000 total reviews

In [3]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head()

                                             reviews
0  ✅ Trip Verified |  British Airways absolutely ...
1  ✅ Trip Verified |  My recent experience with B...
2  ✅ Trip Verified |  This is to express our disp...
3  ✅ Trip Verified |  I flew London to Malaga on ...
4  ✅ Trip Verified |  I arrived at the airport ab...

In [4]:
df.to_csv("BA_REVIEWS.csv")

DATA COLLECTION

In [5]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [6]:
reviews=[]
stars=[]
date=[]
country=[]

In [7]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    soup = BeautifulSoup(page.content, "html.parser")
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
    for item in soup.find_all("time"):
        date.append(item.text)
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 31
Error on page 32
Error on page 33
Error on page 35
Error on page 35

In [8]:
len(reviews)

3500

In [9]:
len(country)

3500

In [10]:
stars=stars[:3500]

In [11]:
df= pd.DataFrame({"reviews":reviews,"stars":stars,"date":date,"country":country})
df

,reviews,stars,date,country
0,✅ Trip Verified | British Airways absolutely ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,1st September 2023,United Kingdom
1,✅ Trip Verified | My recent experience with B...,1,1st September 2023,United States
2,✅ Trip Verified | This is to express our disp...,1,31st August 2023,United States
3,✅ Trip Verified | I flew London to Malaga on ...,1,30th August 2023,United Kingdom
4,✅ Trip Verified | I arrived at the airport ab...,1,30th August 2023,Germany
...,...,...,...,...
3495,LHR-IAD BA 293 B772ER Club World. Checked-in f...,3,6th July 2014,United States
3496,We paid top money for Club Europe and upon lea...,9,6th July 2014,New Zealand
3497,Montreal - LHR. I love BA but sometimes they h...,6,6th July 2014,United Kingdom
3498,I flew AMS-LGW-MCO and JFK-LHR-AMS this month....,7,1st July 2014,Netherlands
3499,LHR-PEK-LHR. We travel BA club world often and...,9,30th June 2014,Spain

In [12]:
df.shape

(3500, 4)

In [13]:
df.to_csv('BAdataset.csv',index='false')

Data Cleaning

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import os

import re

In [15]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | British Airways absolutely ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,1st September 2023,United Kingdom
1,✅ Trip Verified | My recent experience with B...,1,1st September 2023,United States
2,✅ Trip Verified | This is to express our disp...,1,31st August 2023,United States
3,✅ Trip Verified | I flew London to Malaga on ...,1,30th August 2023,United Kingdom
4,✅ Trip Verified | I arrived at the airport ab...,1,30th August 2023,Germany

In [16]:
df['verified'] = df.reviews.str.contains("Trip Verified")
df

,reviews,stars,date,country,verified
0,✅ Trip Verified | British Airways absolutely ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,1st September 2023,United Kingdom,True
1,✅ Trip Verified | My recent experience with B...,1,1st September 2023,United States,True
2,✅ Trip Verified | This is to express our disp...,1,31st August 2023,United States,True
3,✅ Trip Verified | I flew London to Malaga on ...,1,30th August 2023,United Kingdom,True
4,✅ Trip Verified | I arrived at the airport ab...,1,30th August 2023,Germany,True
...,...,...,...,...,...
3495,LHR-IAD BA 293 B772ER Club World. Checked-in f...,3,6th July 2014,United States,False
3496,We paid top money for Club Europe and upon lea...,9,6th July 2014,New Zealand,False
3497,Montreal - LHR. I love BA but sometimes they h...,6,6th July 2014,United Kingdom,False
3498,I flew AMS-LGW-MCO and JFK-LHR-AMS this month....,7,1st July 2014,Netherlands,False
3499,LHR-PEK-LHR. We travel BA club world often and...,9,30th June 2014,Spain,False

In [17]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ramkumarmv/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/ramkumarmv/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/ramkumarmv/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [18]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()

reviews_data = df.reviews.str.strip("✅ Trip Verified |")

corpus=[]

for rev in reviews_data:
    rev=re.sub('[^a-zA-Z]',' ', rev)
    rev=rev.lower()
    rev=rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

In [19]:
df['corpus'] = corpus

In [20]:
df

,reviews,stars,date,country,verified,corpus
0,✅ Trip Verified | British Airways absolutely ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,1st September 2023,United Kingdom,True,british airway absolutely care reserved seat c...
1,✅ Trip Verified | My recent experience with B...,1,1st September 2023,United States,True,recent experience british airway horrendous ut...
2,✅ Trip Verified | This is to express our disp...,1,31st August 2023,United States,True,express displeasure concern regarding flight i...
3,✅ Trip Verified | I flew London to Malaga on ...,1,30th August 2023,United Kingdom,True,flew london malaga august club europe stood ar...
4,✅ Trip Verified | I arrived at the airport ab...,1,30th August 2023,Germany,True,arrived airport hour takeoff time get checked ...
...,...,...,...,...,...,...
3495,LHR-IAD BA 293 B772ER Club World. Checked-in f...,3,6th July 2014,United States,False,lhr iad ba b er club world checked fairly quic...
3496,We paid top money for Club Europe and upon lea...,9,6th July 2014,New Zealand,False,paid top money club europe upon leaving uk tho...
3497,Montreal - LHR. I love BA but sometimes they h...,6,6th July 2014,United Kingdom,False,montreal lhr love ba sometimes day one crew re...
3498,I flew AMS-LGW-MCO and JFK-LHR-AMS this month....,7,1st July 2014,Netherlands,False,flew am lgw mco jfk lhr am month overall accep...
3499,LHR-PEK-LHR. We travel BA club world often and...,9,30th June 2014,Spain,False,lhr pek lhr travel ba club world often overall...

Cleaning/format date

In [21]:
df.dtypes

reviews     object
stars       object
date        object
country     object
verified      bool
corpus      object
dtype: object

In [22]:
df.date = pd.to_datetime(df.date)

In [23]:
df.date.head()

0   2023-09-01
1   2023-09-01
2   2023-08-31
3   2023-08-30
4   2023-08-30
Name: date, dtype: datetime64[ns]

Star cleaning

In [24]:
df.stars.unique()

array(['\n\t\t\t\t\t\t\t\t\t\t\t\t\t5', '1', '3', '8', '4', '7', '2',
       '10', '9', '6', '5', 'None'], dtype=object)

In [25]:
df.stars = df.stars.str.strip("\n\t\t\t\t\t\t\t\t\t\t\t\t\t")

In [26]:
df.stars.value_counts()

1       819
2       402
3       390
8       345
10      297
9       292
7       289
5       250
4       240
6       172
None      4
Name: stars, dtype: int64

In [27]:
df.drop(df[df.stars == "None"].index, axis=0, inplace=True)

In [28]:
df.stars.unique()

array(['5', '1', '3', '8', '4', '7', '2', '10', '9', '6'], dtype=object)

Check for null values

In [30]:
df.isnull().value_counts()

reviews  stars  date   country  verified  corpus
False    False  False  False    False     False     3496
dtype: int64

In [31]:
df.country.isnull().value_counts()

False    3496
Name: country, dtype: int64

In [32]:
df.drop(df[df.country.isnull()==True].index,axis=0,inplace=True)

In [33]:
df.shape

(3496, 6)

In [34]:
df

,reviews,stars,date,country,verified,corpus
0,✅ Trip Verified | British Airways absolutely ...,5,2023-09-01,United Kingdom,True,british airway absolutely care reserved seat c...
1,✅ Trip Verified | My recent experience with B...,1,2023-09-01,United States,True,recent experience british airway horrendous ut...
2,✅ Trip Verified | This is to express our disp...,1,2023-08-31,United States,True,express displeasure concern regarding flight i...
3,✅ Trip Verified | I flew London to Malaga on ...,1,2023-08-30,United Kingdom,True,flew london malaga august club europe stood ar...
4,✅ Trip Verified | I arrived at the airport ab...,1,2023-08-30,Germany,True,arrived airport hour takeoff time get checked ...
...,...,...,...,...,...,...
3495,LHR-IAD BA 293 B772ER Club World. Checked-in f...,3,2014-07-06,United States,False,lhr iad ba b er club world checked fairly quic...
3496,We paid top money for Club Europe and upon lea...,9,2014-07-06,New Zealand,False,paid top money club europe upon leaving uk tho...
3497,Montreal - LHR. I love BA but sometimes they h...,6,2014-07-06,United Kingdom,False,montreal lhr love ba sometimes day one crew re...
3498,I flew AMS-LGW-MCO and JFK-LHR-AMS this month....,7,2014-07-01,Netherlands,False,flew am lgw mco jfk lhr am month overall accep...
3499,LHR-PEK-LHR. We travel BA club world often and...,9,2014-06-30,Spain,False,lhr pek lhr travel ba club world often overall...

In [35]:
df.reset_index(drop=True)

,reviews,stars,date,country,verified,corpus
0,✅ Trip Verified | British Airways absolutely ...,5,2023-09-01,United Kingdom,True,british airway absolutely care reserved seat c...
1,✅ Trip Verified | My recent experience with B...,1,2023-09-01,United States,True,recent experience british airway horrendous ut...
2,✅ Trip Verified | This is to express our disp...,1,2023-08-31,United States,True,express displeasure concern regarding flight i...
3,✅ Trip Verified | I flew London to Malaga on ...,1,2023-08-30,United Kingdom,True,flew london malaga august club europe stood ar...
4,✅ Trip Verified | I arrived at the airport ab...,1,2023-08-30,Germany,True,arrived airport hour takeoff time get checked ...
...,...,...,...,...,...,...
3491,LHR-IAD BA 293 B772ER Club World. Checked-in f...,3,2014-07-06,United States,False,lhr iad ba b er club world checked fairly quic...
3492,We paid top money for Club Europe and upon lea...,9,2014-07-06,New Zealand,False,paid top money club europe upon leaving uk tho...
3493,Montreal - LHR. I love BA but sometimes they h...,6,2014-07-06,United Kingdom,False,montreal lhr love ba sometimes day one crew re...
3494,I flew AMS-LGW-MCO and JFK-LHR-AMS this month....,7,2014-07-01,Netherlands,False,flew am lgw mco jfk lhr am month overall accep...
3495,LHR-PEK-LHR. We travel BA club world often and...,9,2014-06-30,Spain,False,lhr pek lhr travel ba club world often overall...

In [36]:
df.to_csv('BAdatacleaned.csv')

In [38]:
df.drop('reviews',axis=1)

,stars,date,country,verified,corpus
0,5,2023-09-01,United Kingdom,True,british airway absolutely care reserved seat c...
1,1,2023-09-01,United States,True,recent experience british airway horrendous ut...
2,1,2023-08-31,United States,True,express displeasure concern regarding flight i...
3,1,2023-08-30,United Kingdom,True,flew london malaga august club europe stood ar...
4,1,2023-08-30,Germany,True,arrived airport hour takeoff time get checked ...
...,...,...,...,...,...
3495,3,2014-07-06,United States,False,lhr iad ba b er club world checked fairly quic...
3496,9,2014-07-06,New Zealand,False,paid top money club europe upon leaving uk tho...
3497,6,2014-07-06,United Kingdom,False,montreal lhr love ba sometimes day one crew re...
3498,7,2014-07-01,Netherlands,False,flew am lgw mco jfk lhr am month overall accep...
3499,9,2014-06-30,Spain,False,lhr pek lhr travel ba club world often overall...

In [39]:
df.to_csv('BATableau.csv')